@model IEnumerable<DataAccesLayer.Adres>

@{
    ViewBag.Title = "Listele";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AdresEkle")
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>İl</th>
        <th>İlçe</th>
        <th>Mahalle</th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Id</td>
        <td>@item.İl.Name</td>
        <td>@item.İlce.Name</td>
        <td>@item.Mahalle.Name</td>
        <td>
            @Html.ActionLink("Edit", "AdresGuncelle", new { id = item.Id }) |
            @Html.ActionLink("Delete", "AdresSil", new { id = item.Id })
        </td>
    </tr>
}

</table>
